/** CSS STYLE **/
.hello {
  display: block;

  color: #fff;
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: Neucha;
  src: url("../../assets/fonts/Neucha-Regular.ttf");
}


/* Global variables */
:root {
  --accent-color: #FE8A02;
  --no_accent-color: #2A2626;
  --background-color-light: #F5F4F0;
}


/* Global settings */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--no_accent-color);
}

h1, h2, h3 {
  font-family: Neucha, serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  margin-bottom: 185px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.no_accent {
  color: var(--no_accent-color);
}

.with_accent {
  color: var(--accent-color);
}

/* End global settings */

/* Start header settings */

header {
  position: relative;
}

header::before {
  position: absolute;
  width: 100%; 
  height: 100%; 
  top: 0;

  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.intro h1 {
  max-width: 100%;
}

.intro {
  position: relative;
  background-color: var(--background-color-light);
}

.intro img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;

  margin: 0;
  overflow: hidden;
}

.link {
  margin-top: 40px;
  padding: 12px 24px;

  display: inline-block;

  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  color: white;
  background-color: var(--accent-color);
}

/* End header settings */



/* Start core card settings */
.element {
  max-width: 1110px;
  padding: 100px 0;
  border: red solid 5px;
} 

.element p {
  margin-top: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: flex-start;
  row-gap: 30px;
}

.flex_block{
  flex-basis: 0;
  flex-grow: 1;
}

/* End core card settings */

/* Start settings for card with video */
.with_video {
  padding: 0;
  text-align: center;
}

.with_video h2{
  margin-bottom: 30px;
}

.with_video p{
  margin-bottom: 30px;
}

.video {
  position: relative;
  bottom: -100px;
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* End settings for card with video */
